/* Mark-One styles */

    /* header */
    .bsLcFZ {
        align-items: flex-end;
        background-color: transparent;
        box-shadow: rgba(0, 0, 0, 0.28) 0px 4px 8px;
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        width: 100%;
        padding: 15px 10px;
    }
    .ePhdOC {
        font-size: 1.66em;
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        grid-column-end: span 4;
    }
    
/* *** BUttons *** */
/* buttonPrimary and ID seelctor */
/*#region
    /* buttonPrimary - Styles for interfaces */
    #buttonPrimary {
        color: rgb(254, 254, 254);
        cursor: pointer;
        font-size: 1em;
        font-weight: 400;
        background: rgb(78, 136, 199); /* Primary button idle color - info: medium */
        border: 1px solid rgb(78, 136, 199);
        padding: 5px 10px;
    }

    #buttonPrimary:hover {
        background: rgb(8, 65, 97); /* Primary button highlight color - info: dark */
        border: 1px solid rgb(8, 65, 97);
    }

    /* buttonPrimary - Styles for visual library */
    #buttonPrimaryDemo {
        color: rgb(254, 254, 254);
        cursor: pointer;
        font-size: 1em;
        font-weight: 400;
        background: rgb(78, 136, 199); /* Primary button idle color - info: medium */
        border: 1px solid rgb(78, 136, 199);
        padding: 5px 10px;
        width: 10em;
    }

    #buttonPrimaryDemo:hover {
        background: rgb(8, 65, 97); /* Primary button highlight color - info: dark */
        border: 1px solid rgb(8, 65, 97);
    }

    #buttonPrimaryDemo:hover span {
        background: rgb(8, 65, 97); /* Primary button highlight color - info: dark */
        display:none; 
        width: 10em;
    }

    #buttonPrimaryDemo:hover:before {
        background: rgb(8, 65, 97); /* Primary button highlight color - info: dark */
        border: 0px solid rgb(8, 65, 97);
        content:"Class info:dark";
        width: 10em;
    }


    /* buttonPrimary - Original style from Mark-One */
    .bADMLE {
        color: rgb(254, 254, 254);
        cursor: pointer;
        font-size: 1em;
        font-weight: 400;
        background: rgb(78, 136, 199); /* Primary button idle color - info: medium */
        padding: 5px 10px;
        border: 0px solid #fff;
        content:"Not Reply!";
    }

    .bADMLE:hover { background: rgb(8, 65, 97); } /* Primary button highlight color - info: dark */

/*#endregion*/
  
/* buttonSecondary and ID seelctor */
/*#region
    /* buttonSecondary - Styles for interfaces */
    #buttonSecondary {
        color: rgb(24, 24, 24);
        cursor: pointer;
        font-size: 1em;
        font-weight: 400;
        background: rgb(209, 209, 209); /* Secondary button idle color - background: medium */
        border: solid 1px #919191; /* Secondary button idle state - adding an accessible colro border since this backgrtound color doesn't have enough contrast */
        padding: 5px 10px;
    }

    #buttonSecondary:hover {
        color: rgb(24, 24, 24);
        background: rgb(147, 161, 173); /* Secondary button highlight color - background: dark */
        border: solid 1px #919191; /* Secondary button idle state - adding an accessible colro border since this backgrtound color doesn't have enough contrast */
    }

    /* buttonSecondary - Styles for visual library */
    #buttonSecondaryDemo {
        color: rgb(24, 24, 24);
        cursor: pointer;
        font-size: 1em;
        font-weight: 400;
        background: rgb(209, 209, 209); /* Secondary button idle color - background: medium */
        border: solid 1px #919191; /* Secondary button idle state - adding an accessible colro border since this backgrtound color doesn't have enough contrast */
        padding: 5px 10px;
        width: 14em;
    }

    #buttonSecondaryDemo:hover {
        color: rgb(24, 24, 24);
        background: rgb(147, 161, 173); /* Secondary button highlight color - background: dark */
        border: solid 1px #919191; /* Secondary button idle state - adding an accessible colro border since this backgrtound color doesn't have enough contrast */
        content:"Class background:dark";
    }

    #buttonSecondaryDemo:hover span {
        color: rgb(24, 24, 24);
        background: rgb(147, 161, 173); /* Secondary button highlight color - background: dark */
        display:none; 
        width: 14em;
    }

    #buttonSecondaryDemo:hover:before {
        color: rgb(24, 24, 24);
        background: rgb(147, 161, 173); /* Secondary button highlight color - background: dark */
        border: solid 1px rgb(147, 161, 173); /* Secondary button idle state - adding an accessible colro border since this backgrtound color doesn't have enough contrast */
        content:"Class background:dark";
        width: 14em;
    }

    /* buttonSecondary - Original style from Mark-One */
    .kxWoHZ {
        color: rgb(24, 24, 24);
        cursor: pointer;
        font-size: 1em;
        font-weight: 400;
        background: rgb(209, 209, 209); /* Secondary button idle color - background: medium */
        padding: 5px 10px;
        border: 0px solid #fff;
    }

    .kxWoHZ:hover { 
        color: rgb(24, 24, 24);
        background: rgb(147, 161, 173); /* Secondary button highlight color - background: dark */
    }

/*#endregion*/
  
/* buttonDanger and ID seelctor */
/*#region
    /* buttonDanger - Styles for interfaces */
    #buttonDanger {
        color: rgb(254, 254, 254);
        cursor: pointer;
        font-size: 1em;
        font-weight: 400;
        background: rgb(237, 27, 42); /* Danger button idle color - negative:dark */
        padding: 5px 10px;
        border: 1px solid rgb(237, 27, 42);
    }

    #buttonDanger:hover {
        color: rgb(254, 254, 254);
        background: rgb(165, 28, 48); /* Danger button highlight color - background:accent */
        border: 1px solid rgb(165, 28, 48);
    }

    /* buttonDanger - Styles for visual library */
    #buttonDangerDemo {
        color: rgb(254, 254, 254);
        cursor: pointer;
        font-size: 1em;
        font-weight: 400;
        background: rgb(237, 27, 42); /* Danger button idle color - negative:dark */
        border: 0px solid rgb(237, 27, 42);
        padding: 5px 10px;
        border: 1px solid #fff;
        width: 14em;
    }

    #buttonDangerDemo:hover {
        color: rgb(254, 254, 254);
        background: rgb(165, 28, 48); /* Danger button highlight color - background:accent */
        content:"Class background:accent";
        border: 1px solid rgb(165, 28, 48);
    }

    #buttonDangerDemo:hover span {
        color: rgb(254, 254, 254);
        background: rgb(165, 28, 48); /* Danger button highlight color - background:accent */
        display:none; 
        width: 14em;
    }

    #buttonDangerDemo:hover:before {
        color: rgb(254, 254, 254);
        background: rgb(165, 28, 48); /* Danger button highlight color - background:accent */
        border: 1px solid rgb(165, 28, 48);
        content:"Class background:accent";
        width: 14em;
    }

/*#endregion*/

/* *** Links *** */
/* iconPrimary and ID seelctor */
/*#region
    /* iconPrimary - Styles for interfaces */
    #iconPrimary {
        color: rgb(78, 136, 199); /* Primary icon idle color - info: medium */
        cursor: pointer;
        font-size: 1em;
        font-weight: 400;
        padding: 5px 10px;
        background-color: none;
        box-sizing: border-box;
        margin: 0em;
        border-width: 0px;
        border-style: none;
        border-color: none;
        border-image: none;
    }

    #iconPrimary:hover {
        color: rgb(8, 65, 97); /* Primary icon highlight color - info: dark */
    }

    
    /* iconPrimary - Original style from Mark-One */
    .bBYQtl {
        color: rgb(209, 209, 209);
        display: inline-block;
        background: transparent;
    }

    .bBYQtl:hover { background: rgb(154, 166, 177); }

/*#endregion*/

/* iconSecondary and ID seelctor */
/*#region
    /* iconSecondary - Styles for interfaces */
    #iconSecondary {
        color: rgb(147, 161, 173); /* Secondary icon idle color - modified background: dark because unsufficient accessible color */
        cursor: pointer;
        font-size: 1em;
        font-weight: 400;
        padding: 5px 10px;
        background-color: none;
        box-sizing: border-box;
        margin: 0em;
        border-width: 0px;
        border-style: none;
        border-color: none;
        border-image: none;
    }

    #iconSecondary:hover {
        color: rgb(79, 79, 109); /* Secondary icon highlight color - modified background: dark because unsufficient accessible color */
    }

    /* iconSecondary - Original style from Mark-One */
    .kxWoHZ {
        color: rgb(24, 24, 24);
        cursor: pointer;
        font-size: 1em;
        font-weight: 400;
        background: rgb(209, 209, 209); /* Secondary link idle color - background: medium */
        padding: 5px 10px;
        border: 0px solid #fff;
    }

    .kxWoHZ:hover { 
        color: rgb(24, 24, 24);
        background: rgb(147, 161, 173); /* Secondary link highlight color - background: dark */
    }

/*#endregion*/
  
/* iconDanger and ID seelctor */
/*#region
    /* iconDanger - Styles for interfaces */
    #iconDanger {
        color: rgb(237, 27, 42); /* Danger icon idle color - negative:dark */
        cursor: pointer;
        font-size: 1em;
        font-weight: 400;
        padding: 5px 10px;
        background-color: none;
        box-sizing: border-box;
        margin: 0em;
        border-width: 0px;
        border-style: none;
        border-color: none;
        border-image: none;
    }

    #iconDanger:hover {
        color: rgb(165, 28, 48); /* Danger icon highlight color - background:accent */
    }

/*#endregion*/

/* dropdown and ID seelctor */
/*#region
    /* dropdown - Styles for interfaces */
    #dropdown {
        color: rgb(24, 24, 24);
        width: 100%;
    }

    #dropdownNolabel label {
        display: none;
    }

    /* dropdown - Original style from Mark-One */

    .kFoNgS {
        color: rgb(24, 24, 24);
        width: 100%;
    }
    
    select:not(:-internal-list-box) {
        overflow: visible !important;
    }

    select {
        -webkit-writing-mode: horizontal-tb !important;
        text-rendering: auto;
        color: -internal-light-dark-color(black, white);
        letter-spacing: normal;
        word-spacing: normal;
        text-transform: none;
        text-indent: 0px;
        text-shadow: none;
        display: inline-block;
        text-align: start;
        -webkit-appearance: menulist;
        box-sizing: border-box;
        align-items: center;
        white-space: pre;
        -webkit-rtl-ordering: logical;
        background-color: rgb(248, 248, 248);
        cursor: default;
        margin: 0em;
        font: 400 11px system-ui;
        border-radius: 5px;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(166, 166, 166);
        border-image: initial;
    }

/*#endregion*/

/* header and ID seelctor */
/*#region
    /* header - Styles for interfaces */
    header {
        -webkit-box-align: baseline;
        align-items: baseline;
        background-color: transparent;
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        width: 100%;
        padding: 15px 10px;
    }

    header a:first-of-type {
        align-self: stretch;
        background-image: url(https://seas-computing.github.io/mark-one/53adae7e04b94384b103e6884cbad7ab.svg);
        background-size: contain;
        color: transparent;
        display: inline-block;
        font-size: 0px;
        line-height: 0;
        width: 175px;
        min-width: 100px;
        height: 50px;
        background-position: center center;
        background-repeat: no-repeat;
        margin: 0px 10px;
    }

    header h1 {
        font-family: "Open Sans", sans-serif;
        font-size: 1.66em;
        font-weight: 400;
        color: rgb(113, 113, 113);
    }

    header > div {
        display: block;
    }

    /* header - Original style from Mark-One */
    
    .cxOGUM {
        -webkit-box-align: baseline;
        align-items: baseline;
        background-color: transparent;
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        width: 100%;
        padding: 15px 10px;
    }

    .fSnoKZ {
        align-self: stretch;
        background-image: url(53adae7….svg);
        background-size: contain;
        color: transparent;
        display: inline-block;
        font-size: 0px;
        line-height: 0;
        width: 175px;
        min-width: 100px;
        height: 50px;
        background-position: center center;
        background-repeat: no-repeat;
        margin: 0px 10px;
    }

    .fOBfez {
        font-family: "Open Sans", sans-serif;
        font-size: 1.66em;
        font-weight: 400;
        color: rgb(113, 113, 113);
    }

/*#endregion*/
